/node_modules
/public/hot
/public/storage
/public/organisation_logo
/public/images/contacts
/public/images/profile
/public/contact-attachment/
/storage/*.key
/vendor
.env
nohup.out
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
